.categories {
  margin-top: 10px;
}

.categories input {
  display: none;
}

.category-label {
  /* background-color: rgba(200, 200, 200, 0.1); */
  /* padding: 5px; */
}

.category-label:hover {
  background-color: rgba(200, 200, 200, 0.7);
  padding: 3px;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  transform: scale(1.05);
}

.category-label:active {
  transform: scale(1);
}
