.contentArea {
  display: flex;
  margin: 0 auto;
  width: 90%;
  height: 90vh;
  /* background-color: aquamarine; */
}

.filterArea {
  width: 18%;
}

.searchArea {
  width: 78%;
}

header {
  align-items: center;
  display: flex;
  justify-content: center;
}

header img {
  height: 40px;
  width: 40px;
}
