.product-card {
  align-items: center;
  border: 1px solid magenta;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px;
  max-width: 200px;
  padding: 0 7px;
}

.product-card h4 {
  text-align: center;
}

img {
  width: 100px;
}
