.productArea {
  background-color: var(--primary-color);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.062) 0 0 10px;
  box-sizing: border-box;
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-around;
  margin-bottom: 40px;
  margin-left: 100px;
  padding: 10px;
  transition: 0.2s ease;
  width: 200px;
}

.productArea:hover {
  box-shadow: rgba(0, 0, 0, 0.151) 0 5px 15px;
  transition: 0.2s ease;
}

.detailsLink {
  color: var(--text-color);
  text-decoration: none;
}

.img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 150px;
  width: 100%;
}

.noneImg {
  display: none;
}

.title {
  color: var(--text-color);
  font-size: 12px;
}

.button {
  align-items: center;
  background-color: var(--third-color);
  border: none;
  border-radius: 0 20px 20px 0;
  color: var(--secondary-color);
  cursor: pointer;
  display: flex;
  height: 35px;
  justify-content: flex-start;
  margin-left: -10px;
  padding-left: 10px;
  transition: 0.2s ease;
  width: 40px;
}

.button:hover {
  transition: 0.2s ease;
  width: 120px;
}

.button:hover p {
  font-weight: 700;
  margin-left: 15px;
  opacity: 1;
  transition: opacity 0.5s ease;
  visibility: visible;
}

.p {
  opacity: 0;
  transition: opacity 0.5s ease;
  visibility: hidden;
}

.free {
  align-items: center;
  background-color: rgb(125, 245, 125);
  border-radius: 20px 0 0 20px;
  box-sizing: border-box;
  color: green;
  display: flex;
  height: 35px;
  justify-content: flex-end;
  margin-right: -10px;
  padding-right: 10px;
  transition: 0.2s ease;
  width: 40px;
}

.free:hover {
  transition: 0.2s ease;
  width: 120px;
}

.free:hover p {
  cursor: default;
  font-size: 12px;
  font-weight: 700;
  margin-right: 10px;
  opacity: 1;
  transition: opacity 0.5s ease;
  visibility: visible;
}

.bottom {
  display: flex;
  justify-content: space-between;
}

/* .cartAdd {
  background-color: red;
  position: absolute;
} */
