.productList {
  align-items: stretch;
  align-content: space-between;
  align-self: auto;
  background-color: grey;
  border: 1px;
  display: flex;
  flex-flow: row wrap;
  margin: 1px;
  padding: 20px;
  width: 80%;
}
