.Home {
  display: flex;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.filter-container {
  display: flex;
  height: 100vh;
  min-width: var(--sidebar-size);

  /* border: 1px solid #000; */
  overflow-y: auto;
  position: fixed;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

:root {

  --sidebar-size: 280px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.filter-container form {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 2px;
}

.filter-container form:before {
  content: 'Categorias';
  display: block;

  /* align-self: center; */
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: var(--sidebar-size);
}

.container label {
  align-self: center;
  display: flex;
  height: 40px;
  text-align: center;
  width: 80%;
}

.container label input {
  flex-basis: 80%;
  padding: 5px 10px;
}

.container h1 {
  font-size: 1.6rem;
  padding: 10px;
  text-align: center;
}

/* .products-container {
  display: flex;
  flex-direction: column;
} */

.products-container div {
  background: lightgrey;
  display: flex;
  margin-bottom: 6px;
  padding: 10px 0;
  word-wrap: normal;
}

.products-container div img {
  height: 125px;
  margin-right: 10px;
  object-fit: cover;

  /* order: -1; */
  width: 125px;
}
