.container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.headerInput {
  border-radius: 4px;
  box-shadow: 1px 1px 10px black;
  height: 40px;
  margin: 10px;
  outline: none;
  width: 30vw;
}

.headerContainer {
  align-items: center;
  background-color: #131920;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  width: 100%;

}

p {
  color: white;
  font-size: 25px;
}

.headerLabel {
  position: relative;
}

.searchButton {
  background-color: #f08804;
  border: none;
  border-radius: 0 4px 4px 0;
  height: 37px;
  position: absolute;
  right: 10px;
  top: 12px;
  width: 48px;
}

.searchButton:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.lupaIcon {
  color: black;
  font-size: 20px;
}

.heroContent {
  display: flex;
  height: 89.5vh;
  justify-content: space-between;
  width: 100%;
}

aside {
  background-color: rgba(240, 236, 236, 0.555);
  box-shadow: 11px 3px 16px -4px rgba(210, 210, 210, 0.56);
  height: 100vh;
  overflow: auto;
  width: 15vw;
}

.mainContent {
  height: 100vh;
  overflow: auto;
  text-align: center;
  width: 85vw;
}

.categoryItem label {
  cursor: pointer;
}

.categoryItem button {
  background-color: none;
  border: none;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  height: 50px;
  width: 100%;
}

.categoryItem button:hover {
  background-color: rgba(19, 25, 32, 0.555);
  color: white;
  font-size: 16px;
}

aside::-webkit-scrollbar {
  width: 10px;
}

aside::-webkit-scrollbar-thumb {
  background: #f08804;
  border-radius: 10px;
}

aside::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 5px grey;
}

aside::-webkit-scrollbar-thumb:hover {
  background: rgba(19, 25, 32, 0.75);
}

.categoryItem i {
  cursor: pointer;
}

.notFoundP {
  color: black;
}

.yellowSpan {
  color: #f08804;
}
