* {
  box-sizing: 0;
  margin: 0;
  padding: 0;
}

.product-card {
  border: 3px solid black;
  display: flex;
  flex-flow: column nowrap;
  width: 20vw;
}

.product-title {
  font-size: 18px;
}

.product-price {
  font-weight: 300;
}
