.container {
  align-items: center;
  background-color: var(--secondary-background-color);
  border-radius: 0.25em;
  display: flex;
  flex-direction: column;
  margin: 0 1em;
  padding: 1em;
  padding-bottom: 2.5em;
  position: relative;
  transform: scale(1);
  transition: transform 0.5s;
  width: 20%;
}

.container:hover {
  transform: scale(1.25) translateY(2.5em);
  transition: transform 0.5s;
  z-index: 5;
}

.container img {
  max-height: 200px;
  object-fit: cover;
  width: 100%;
}

.container:hover img {
  height: 100%;
}

.container a > * {
  margin-bottom: 0.5em;
}

.container a {
  align-items: center;
  border-radius: 0.25em;
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  text-decoration: none;
}

.container a:hover {
  background-color: var(--primary-background-color);
}

.container a > p:first-of-type {
  height: 2.5em;
}

.container a > p:last-of-type:before {
  content: 'R$ ';
}

.btn {
  background-color: var(--quaternary-color);
  border: none;
  border-radius: 0 0 0.25em 0.25em;
  bottom: 0;
  color: var(--primary-color);
  cursor: pointer;
  font-weight: 600;
  padding: 0.5em;
  position: absolute;
  width: 100%;
}

.btn:hover {
  background-color: var(--primary-color);
  color: var(--quaternary-color);
}
