.footer {
 display: flex;
 height: 50px;
 width: 100%;
 background-color: black;
 /* align-items: center; */
 justify-content: center;
 /* bottom: 0; */
 /* position:absolute;
 bottom: 0; */
}

.foot {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.intern-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
}

.dev {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.dev span {
  color: white;

}

.git-image {
  width: 30px;
  padding: 0 0 0 5px;
}

.linkedin-image {
 width: 30px;
 padding: 5px;
}

.color {
  height: 5px;
  background: rgb(1,245,189);
  background: linear-gradient(90deg, rgba(1,245,189,1) 0%, rgba(88,131,255,1) 25%, rgba(214,31,143,1) 50%, rgba(255,68,64,1) 75%, rgba(255,195,4,1) 100%);
}