.home-div {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  margin: 10px;
  width: 100%;
}

.home-form-div {
  display: flex;
  flex-flow: row nowrap;
}

.home-form-div button {
  font-size: 1.4em;
  height: 50px;
  margin: 20px;
  margin-top: 2.5em;
}

input {
  font-size: 1.5em;
  margin-right: 10px;
  margin-top: 5rem;
}

footer {
  bottom: 0;
  height: 60px;
  position: absolute;
  width: 100%;
}

.navbar {
  font-size: 1.3em;
}

.navbar-brand {
  margin-left: 2%;
}

.navbar-nav {
  display: flex !important;
  flex-direction: row !important;
  padding: 0 15px;
}

.navbar-nav li {
  padding: 0 15px;
}

.search-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.about-page {
  margin-top: 100px;
}

.list-group {
  font-size: 1.4em;
  margin-top: 20px;
  width: 20%;
}

.about-div {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

/* -- SEARCH RESULT -- */
.search-results {
  display: flex;
  flex-direction: row;
}

.search-results:nth-child( 1 ) {
  flex: 1;
}

.search-results:nth-child( 2 ) {
  flex: 2;
}

.categories {
  display: flex;
  flex-direction: column;
  justify-content: left;
  justify-items: left;
  margin-left: 0;
}
