.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 200px;
}

a:link {
  text-decoration: none;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 8px 20px #ddd;
  display: inline-block;
  flex-direction: row;
  margin: 10px;
  min-height: 150px;
  min-width: 150px;
  overflow: hidden;
  padding: 10px;
  transition: 0.5s linear;
}

.cart-items {
  align-items: right;
  margin-left: 55px;
}

.cart-items h4 {
  left: 40%;
  position: relative;
  top: 50%;
}

.card:hover {
  box-shadow: none;
}

.card img {
  display: block;
  height: 100%;
  max-height: 300px;
  max-width: 200px;
  object-fit: cover;
  width: 100%;
}

.card h3 {
  color: black;
  margin: 10px 0;
}

.card h3:hover {
  color: crimson;
}

p {
  color: crimson;
  margin: 10px 0;
}

.button {
  background: #333;
  border: none;
  color: white;
  cursor: pointer;
  display: block;
  height: 40px;
  letter-spacing: 2px;
  margin: 15px 0;
  outline: none;
  text-transform: uppercase;
  width: 100%;
}

@media ( max-width : 650px ) {

  .cart-items h4 {
    display: none;
  }
}
