.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.product-card {
  background-color: blue;
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 200px;
}

.details {
  color: rgb(7, 6, 6);
  text-decoration: none;
}

.cart-render-link {
  background-color: rgb(22, 124, 90);
  color: white;
  text-decoration: none;
  margin: 10px;
  border: 1px solid black;
  padding: 5px;
}

.checkout-product-price {
  width: 100px;
}
